
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Albums</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/Home">Home</a></li>
            </ul>
    </nav>
    <header>Music</header>
</body>
</html>
