@model AlbumCollection.Models.Album


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Album Details</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/Album">Home</a></li>
        </ul>
    </nav>
    <h2>@Model.Artist</h2>
    <p>Album Name: @Model.Title</p>
    <p>Release Year: @Model.ReleaseYear</p>

    <h2>Songs</h2>
    @foreach (var song in Model.Songs)
    {
        <p>@song.SongName</p>
        
      

     }
    <a href="/Song/Create/@Model.AlbumId" />Add a Song to the Album>
</body>
</html>
