@model IEnumerable<AlbumCollection.Models.Album>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/AlbumIndex.css" />
    
    <title>Albums</title>
</head>
<body>
    <div class="all-page-content">
     <h1>Musica</h1>
    <div class="all-albums">
        <ul>
            @foreach (var album in Model)
            {
                <li>
                    <div class="album">
                        <a href="/Album/Details/@album.AlbumId">@album.Title</a>
                    </div>
                </li>
            }
        </ul>
    </div>
    </div>
</body>
</html>
