@model IEnumerable<AlbumCollection.Models.Album>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Albums</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/Album">Home</a></li>
        </ul>
    </nav>
    <ul>
        @foreach (var album in Model)
        {
            <li>
                <a href="/Album/Details/@album.AlbumId">@album.Title</a>
            </li>
        }
    </ul>
</body>
</html>
